<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.formit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FormIt"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.view.activitys.PaimentMethodeActivity"></activity>
        <activity android:name=".ui.view.activitys.EditProfileActivity" />
        <activity android:name=".ui.view.activitys.SettingsActivity" />
        <activity android:name=".ui.view.activitys.CoursesActivity" />
        <activity android:name=".ui.view.activitys.DescriptionActivity" />
        <activity android:name=".ui.view.activitys.SignInUpActivity" />
        <activity android:name=".ui.view.activitys.HomeActivity" />
        <activity android:name=".ui.view.activitys.SignUpActivity" />
        <activity android:name=".ui.view.activitys.SignInActivity" />
        <activity android:name=".FormItActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>